@using ExtramuralEducation.Core
@model ExtramuralEducation.ViewModels.UserViewModel
@using (Html.BeginForm(MVC.AdminUser.ActionNames.AddUser, MVC.AdminUser.Name, FormMethod.Post, new { @class = "form-horizontal", id="addForm" }))
{
    @Html.ValidationSummary(true)
    <div class="control-group">
        <label class="control-label">@TranslateHelper.Translate("Username")</label>
        <div class="controls">
            @Html.TextBoxFor(x => x.Username)
            @Html.ValidationMessageFor(x => x.Username)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">@TranslateHelper.Translate("Email")</label>
        <div class="controls">
            @Html.EditorFor(x => x.Email)
            @Html.ValidationMessageFor(x => x.Email)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">@TranslateHelper.Translate("Password")</label>
        <div class="controls">
            @Html.PasswordFor(x => x.Password)
            @Html.ValidationMessageFor(x => x.Password)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">@TranslateHelper.Translate("FirstName")</label>
        <div class="controls">
            @Html.TextBoxFor(x => x.FirstName)
            @Html.ValidationMessageFor(x => x.FirstName)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">@TranslateHelper.Translate("LastName")</label>
        <div class="controls">
            @Html.TextBoxFor(x => x.LastName)
            @Html.ValidationMessageFor(x => x.LastName)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">@TranslateHelper.Translate("Roles")</label>
        <div class="controls">
            @Html.DropDownListFor(x => x.Role, Model.RolesListItems)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">@TranslateHelper.Translate("Institutes")</label>
        <div class="controls">
            @Html.DropDownList("Institutes", Model.InstituteItems)
            <a href="#" id="addInstitute">@TranslateHelper.Translate("Add")</a>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">@TranslateHelper.Translate("User in institutes")</label>
        <div class="controls">
                            <div class="user2institute">
            @foreach (var institute in Model.Institutions)
            {
                <label class="control-label">@institute.Name</label>
                <input type="hidden" class="currentInsitutes" name="Institutions" value="@institute.Id"/>                                                                                                  
            }
                </div>
        </div>
    </div>
    @Html.HiddenFor(x => x.UserId)  
    <script type="text/javascript">
        $(document).ready(function () {
            $('#addInstitute').click(function (e) {
                e.preventDefault();
                var instituteName = $('#Institutes option:selected').text();
                var insituteId = $('#Institutes option:selected').val();

                if ($('.currentInsitutes[value="' + insituteId + '"]').length < 1) {
                    var hidden = '<input type="hidden" class="currentInsitutes" name="Institutions" value="' + insituteId + '"/>';
                    var label = '<label class="control-label">' + instituteName + '</label>';
                    $('.user2institute').append(hidden);
                    $('.user2institute').append(label);
                    AsArray();
                } else {
                    alert('@TranslateHelper.Translate("User already is in institute")');
                }
            });
        });    
        
        function AsArray() {
            var i = 0;
            $('.currentInsitutes').each(function () {
                $(this).attr('name', 'Institutions[' + i + '].Id');
                i++;
            });
        }
    </script>
}
